doctype
html.no-js(lang="ru")
head
  meta(charset="UTF-8")
  meta(
    name="viewport",
    content="width=device-width, initial-scale=1.0"
  )
  meta(
    http-equive="X-UA-Compatible",
    content="IE=edge"
  )
  title Template  
  script(async, src="js/modernizr.min.js")
  
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js">
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
  <![endif]-->
body
  // Header
  include blocks/header/header.pug
  // Main Content
  include blocks/main/main.pug
  // Footer
  include blocks/footer/footer.pug
  
  script(
      async, 
      src="https://code.jquery.com/jquery-3.1.1.min.js",
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
      crossorigin="anonymous"
    )
    script(async, src="js/main.js")
    
link(
  rel="stylesheet",
  href="css/main.css"
)

// Include in production.
// media="none",
// onload="if(media!=='all')media='all'",
// lazyload="1"

link(
  href="css/screen.css", 
  rel="stylesheet",
)
// Include in production.
// media="none",
// onload="if(media!=='screen')media='screen'",
//lazyload="1"

link( 
  href="css/print.css",
  rel="stylesheet"
)
// media="none",
// onload="if(media!=='print')media='print'",
// lazyload="1"
link( 
  href="css/ie10greater.css",
  rel="stylesheet"
)
// Include in  production.
// media="none",
// onload="if(media!=='all') media='all'",
//lazyload="1"

<!--[if IE]><link type="text/css" rel="stylesheet" href="css/ie9.css" lazyload="1" /><![endif]-->

